<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="m1-body">
  <%- include('../partials/nav.ejs') %>
    <button type="button" id='button' class="btn btn-success">Invite Me</button>
</body>
<script src="/scripts/home.js"></script>