<!DOCTYPE>
<html>
  <head>
    <title> Home | Miso </title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <div id="div-h1">
      Miso's Stats 
      <div class="div-h2">
        <p class="p-temp-1">Name:</p> <p class="p-temp-2"><%- client.user.tag %></p>
      </div>
    </div>
  </body>
</html>